form{
    padding: 0.8em;
    box-shadow: 0.3em 0.3em 0.5em lightgray;
    border-radius: 0.4em;
    width: 20em;
}

input[type=submit]{
    border: 0;
    width: 100%;
    background: skyblue;
    color: white;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.2em;
    outline: 0;
}