.container-fluid {
    font-size: 20px;
}

@font-face {
    font-family: digital;
    src: url(../fonts/digital-7.ttf);
    font-weight: bold;
}

h5.timer span {
    font-size: 3em;
    color: rgba(0, 0, 0, 0.6);
    font-family: digital;
}

img.img-thumbnail {
    display: block;
    height: 10em;
    border-radius: 50%;
    margin: 4em auto;
}

.nav-pills .nav-link:focus {
    box-shadow: none;
}

.nav-pills .question_num.active {
    color: green;
    border: 1px solid green;
    background-color: transparent;
}