main.py-4{
    padding: 0px !important;
}

.container-fluid{
    background: url('../image/quiz3.jpeg') no-repeat;
    background-size: 100%;
    background-position: 100%;
    padding-top: 10px !important;
    color:white;
    height: 800px !important;
}

div.center.swing{
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding-bottom: 50px ;
}
div.form-control{
    width: fit-content;
}

label.col-form-label.text-md-right{
    padding: 0;
    width: fit-content;
}

div.d-flex.justify-content-center.flex-column.mx-auto{
    line-height: 50px;
}

div.d-flex.justify-content-center.flex-column.mx-auto h1{
    font-size: 60px;
    font-family: 'Work Sans', sans-serif;
}

div.d-flex.justify-content-center.flex-column.mx-auto p{
    font-size: 25px;
    line-height: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

div.d-flex.justify-content-center.flex-column.mx-auto button{
    font-size: xx-large;
    color: white;
    font-family: 'Playfair Display', serif;
}