#printDiv{
    width: 45em;
    border: 1px solid cadetblue;
    margin-top: 2em;
    padding: 1em;
}

#user{
    width: 12em;
    height: 12em;
    margin-left: auto;
    margin-top: .5rem;
    display: block;
    margin-right: auto;
    margin-bottom: 3rem;
}

.userDetails{
    width: 30em;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

h5{
    font-weight: 600;
    font-size: 14px;
}

table,tr,td,th{
    border: 1px solid lightgray;
    border-collapse: collapse;
}


table{
    width: 35em;
}

th,td{
    padding: 1.5em;
    text-align: center;
}

th{
    color: black;
    font-size: 18px;
    font-weight: 700;
}

td{
    font-size: 16px;
    color: black;
}