.container-fluid{
    font-size: 20px;
}

@font-face {
    font-family: digital;
    src: url(../fonts/digital-7.ttf);
    font-weight: bold;
}

 h5.timer span{
    font-size: 3em;
    color: rgba(0, 0,0,0.6);
    font-family: digital;
}