* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.row {
    padding: 0px;
}

#firstRow {
    background: url('../image/photo-1516534775068-ba3e7458af70.jfif') no-repeat;
    background-size: cover;
}

#firstRow .container-fluid {
    background: rgba(0, 0, 0, .6);
}

#logo {
    position: relative;
    left: -422px;
    height: 80px;
}

.nav-link {
    margin-top: 11px;
    display: block;
    color: white;
    transition: border 1s, transform 1s;
    font-size: 16px;
}

.nav-link:hover {
    color: gold;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(1.2, 1.2);
}

#content {
    margin-top: 140px;
    color: white;
    padding-left: 150px;
    margin-bottom: 170px;
}

#content h6 {
    border-left: 5px solid orangered;
    font-size: x-large;
    padding-left: 6px;
}

#content h1 {
    font-size: 70px;
}

#dot {
    padding: 0px 10px;
    height: 20px;
    width: 10px;
    display: inline-block;
    background: orangered;
}

#content p {
    font-size: 25px;
    line-height: 40px;
}

#secondRow {
    padding: 40px;
}

#secondRow:first-child {
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: rollIn;
}

#secondRow .col-lg-6 img {
    height: 430px;
    width: inherit;
}

#secondRow .col-lg-6 p {
    font-size: 20px;
    text-align: center;
}

#right {
    animation-delay: 0.5s;
    animation-name: lightSpeedIn;
}

#secondRow .bounceInUp p>.sign {
    height: 150px;
    width: 500px;
}

th,
td {
    padding: 0px;
}

.row {
    font-family: 'Times New Roman', Times, serif;
}

.rounded {
    height: 260px;
    width: 100%;
}

.row .container-fluid .col-4 {
    width: 400px;
}

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer h5 {
    font-weight: bolder;
}

.fa {
    color: dodgerblue;
    font-size: 26px;
}

footer .col-3 span.circle {
    padding: 20px;
    border-radius: 40px;
    border: 1px solid white;
}

.border {
    border: 2px solid white;
}

a[title=facebook] {
    /* padding: 20px; */
    background: #3a5a95;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    text-align: center;
}

a[title=twitter] {
    /* padding: 20px; */
    background: #57aced;
    ;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    text-align: center;
}

a[title=google-plus] {
    /* padding: 20px; */
    background: #dd4f43;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    text-align: center;
}

.fa-google-plus {
    font-size: 22px;
    padding: 4px;
}

a[title=instagram] {
    /* padding: 20px; */
    background: #6b27b2;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    text-align: center;
}

.best {
    background-color: rgba(125, 125, 125, 0.1);
    padding: 3em;
}

.section-about {
    background: url('../image/pngtree-luxury-graduation-party-invitation-card-with-hat-and-paper-png-image_4141900.jpg') no-repeat;
    background-position: center;
    background-size: 100%;
    padding-bottom: 4em;
    color: #6990ba;
}

.about {
    border: 2px solid skyblue;
    margin: 2em 10em;
}

.section-about p {
    margin-bottom: 4em;
}


/* tablet */

@media screen and (max-width:768px) {
    body {
        width: 100%;
    }
    #secondRow {
        padding: 0px;
    }
    #secondRow .bounceInUp p {
        font-size: 16px;
    }
    #secondRow .bounceInUp p>.sign {
        /* width: 5em; */
    }
}