* {
    font-size: 16px;
    box-sizing: border-box;
}

.section {
    width: 100%;
    margin-top: 5.6em;
}

.accordion {
    cursor: pointer;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.d-block {
    color: red;
    font-style: italic;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0.6em;
    width: 100%;
}

.grid div {
    display: flex;
    justify-content: flex-start;
}