* {
    box-sizing: border-box;
}

.nav-pills .nav-link {
    padding: 0.8em;
    font-size: 16px;
    margin-right: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-pills .nav-link:hover {
    background-color: #f6f7fe;
}

.nav-pills .nav-link.active .badge {
    background-color: white;
    color: black;
}

.nav-pills .nav-link .badge {
    border-radius: 1.5em;
}

.alert {
    font-size: 16px;
}

.grids{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}

.grids .grid{
    padding: 0.5em 1em;
    width: 100%;
}

.grids .grid p:first-child{
    font-size: 14px;
    margin-bottom: 0;
}

.grids .grid p:first-child i{
    font-size: 20px;
    margin-right: 0.5em;
}

table tbody tr th {
    font-size: 20px;
}

table tbody tr td {
    font-size: 16px;
}

table tbody tr td a {
    display: flex;
}