    * {
        font-size: 16px;
        box-sizing: border-box;
    }
    
    .section {
        margin-top: 4em;
        width: 100%;
    }
    
    table tbody tr td:nth-child(2) {
        width: 30%;
        text-align: justify;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    
    .accordion {
        cursor: pointer;
        outline: none;
        transition: 0.4s;
    }
    
    .panel {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }
    
    .d-block {
        color: red;
        font-style: italic;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        margin-bottom: 0.6em;
    }
    
    .grid div {
        display: flex;
        justify-content: flex-start;
    }
    
    @media screen and(max-width: 765px) {
        .grid {
            grid-template-columns: 1fr;
        }
    }