* {
    box-sizing: border-box;
    font-size: 16px;
}

.grid,
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
}

.grid span:first-child {
    margin-left: 9em;
}

.grid span img {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}


/* tablet */

@media screen and (max-width: 768px) {
    .grid span:first-child {
        margin-left: 4em;
    }
    .grid span img {
        width: 20%;
        height: 20%;
        border-radius: 50%;
    }
}