    .image {
        width: 8em;
        height: 8em;
        border-radius: 4em;
        display: block;
        margin: 0px auto 4em;
    }
    
    .container-fluid .row.flex-wrap .col-lg-6 {
        padding: 0.3em 2em;
    }
    
    p.grids {
        display: grid;
        grid-template-columns: 25% 70%;
    }
    
    p.grids span {
        font-size: 14px;
    }
    
    .alert {
        font-size: 14px;
    }
    
    .modal .modal-dialog .modal-content button.close {
        width: 0.9em;
        height: 0.9em;
        border-radius: 1em;
        margin-right: 0.3em;
        margin-top: 0.3em;
        outline: none;
    }
    
    .modal .modal-dialog .modal-content button.close:hover {
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        font-weight: 500;
    }
    
    .modal-content {
        border-radius: 0px;
        height: 20em;
    }
    
    .user_edit_image {
        width: 6em;
        height: 6em;
        display: block;
        margin: 0.5em auto;
        border-radius: 3em;
        border: 1px solid rgba(125, 125, 125, 0.4);
        padding: 0.1em;
    }
    
    .user_details_edit_form input[type='file'] {
        display: block;
        font-size: 16px;
        margin: 0.3em auto;
    }
    
    .user_details_edit_form .container .row .col-lg-6 .form-group {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        align-items: baseline;
    }
    
    .user_details_edit_form .container .row .col-lg-6 .form-group input,
    .user_details_edit_form .container .row .col-lg-6 .form-group select {
        padding: 0px;
        font-size: 12px;
        width: 60%;
    }
    
    .modal .modal-dialog .modal-content .modal-body .nav .nav-item a {
        font-size: 14px;
    }
    
    .card-header.text-center {
        font-size: 16px;
    }
    
    .card-body.d-flex.justify-content-between {
        font-size: 14px;
    }
    
    p.text-muted {
        font-size: 16px;
        text-decoration: underline;
        margin-top: 0.7em;
    }
    
    .edit_courses {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: flex-start;
        align-items: baseline;
    }
    
    .form-check {
        font-size: 14px;
    }
    /* tablet */
    
    @media screen and (max-width: 768px) {
        .container-fluid .row.flex-wrap .col-lg-6 {
            padding: 0px 0.8em;
        }
        .modal-content {
            height: fit-content;
        }
        .edit_courses {
            grid-template-columns: 1fr;
        }
        p.grids {
            grid-template-columns: 1fr;
        }
    }